body {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(0,50,50);
    color: whitesmoke;
}

.titlebar {
    background-color: rgb(0, 151, 136);
    padding-bottom:1px;
    padding-top:2px;
}

a {
    color:tomato;
}

 pre code {
	background-color: rgb(13, 24, 39);
	border: 1px solid rgb(255, 255, 255);
	display: block;
	padding: 20px;
}

.explanation {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(7, 0, 75);
	border: 3px solid rgb(255, 255, 255);
	display:block;
	margin-top: 40px;
	margin-bottom: 40px;
}

.explanation p {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}